<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.data.system.dao.RoleDAO">

	<resultMap type="com.data.system.po.Role" id="roleMap" autoMapping="true"/>
	<sql id="roleSql">
		id,user_name,age,money,birthday
	</sql>

	<select id="findUserNameById" parameterType="int" resultType="string" flushCache="true">
		select user_name from role where id = #{id}
	</select>
	
	<select id="findRolesByIds" parameterType="int[]" resultMap="roleMap">
		select <include refid="roleSql"/> from role where id in 
		<foreach collection="ids" open="(" close=")" separator="," item="id">
			#{id}
		</foreach>
	</select>
	
	<insert id="inserRole" parameterType="role">
		insert into role(user_name,age,money,birthday)value(#{role.userName},#{role.age},#{role.money},#{role.birthday})
	</insert>
</mapper>
